body {
    font-family: 'DM Sans';
    padding: 0;
    margin: 0;
}

.container {
    max-width: $mobile;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        padding: 0 32px;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
        padding: 0 24px;
    }
}

.main.container {
    padding-top: 110px;

    @media screen and (min-width: 1440px) {
        display: flex;
        gap: 40px;
    }
}