$bg-color: #F6F6F6;
$bg-color-header: #FFFFFF;
$primary-text-color: #111111;
$secondary-text-color: rgba(17, 17, 17, 0.6);
$primary-accent-color: #EAC645;
$secondary-accent-color: #4F2EE8;
$accent-text-color: #4F2EE8;
$logo-color: #000000;
$primary-button-pagination-color: #111111;
$secondary-button-pagination-color: #EAC645;
$category-title-color: #B4AFAF;

$bg-color-darkt: #202024;
$bg-color-header-darkt: #111111;
$primary-text-color-darkt: #FFFFFF;
$secondary-text-color-darkt: rgba(255, 255, 255, 0.6);
$logo-color-darkt: #F3F3F3;
$button-pagination-color-darkt: #FFFFFF;
$tertiary-text-color-darkt: #B4AFAF;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);