.shopList {
  &__main {
    padding-top: 112px;
  }

  &__fonds {
    overflow: hidden;
    display: none;

    @media screen and (min-width: $tablet) {
      display: none;
    }

    @media screen and (min-width: $desktop) {
      display: block;
      height: 490px;
      width: 356px;
    }
  }

  &__ul {
    margin-top: 40px;
  }

  &__container {
    margin-bottom: 50px;
    overflow: hidden;

    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__list {
    @media screen and (min-width: $desktop) {
      width: 1012px;
      margin-left: 40px;
    }
  }

  &__title {
    font-family: 'DM Sans';
    color: $primary-text-color;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    margin: 0;

    white-space: nowrap;

    @media screen and (min-width: $tablet) {
      font-size: 48px;
      line-height: 1.08;
    }

    .dark-theme & {
      color: $bg-color-header;
    }
  }

  &__titleMarkup {
    font-family: 'DM Sans';
    color: $primary-text-color;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    margin: 0;
    margin-bottom: 40px;
    white-space: nowrap;

    @media screen and (min-width: $tablet) {
      font-size: 48px;
      line-height: 1.08;
    }

    .dark-theme & {
      color: $bg-color-header;
    }
  }

  &__img {
    width: 265px;

    @media screen and (min-width: $tablet) {
      width: 322px;
    }
  }

  &__accent {
    color: $secondary-accent-color;
  }

  &__text {
    width: 215px;
    text-align: center;
    margin: 0;
    user-select: none;

    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);

    @media screen and (min-width: $tablet) {
      font-size: 18px;
      line-height: 1.33;
      width: 335px;
    }

    .dark-theme & {
      color: $secondary-text-color-darkt;
    }
  }

  &__imgContainer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    width: 265px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
      width: 349px;
      margin-top: 140px;
    }
  }
}

.shopCard {
  width: 335px;

  @media screen and (min-width: $tablet) {
    width: 704px;
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
  }

  &__photo {
    z-index: -1;
    margin: 0;
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  &__btn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $secondary-accent-color;
    border: transparent;
    align-content: center;
    justify-content: center;
    transition: background-color 250ms $cubic;

    &:hover,
    &:focus {
      background-color: $secondary-button-pagination-color;
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
      cursor: pointer;
    }

    @media screen and (min-width: $tablet) {
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
    }
  }

  &__title {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    color: $primary-text-color;
    overflow: hidden;
    margin-bottom: 4px;

    @media screen and (max-width: $tablet) {
      text-overflow: ellipsis;
      max-width: 144px;
      white-space: nowrap;
    }

    .dark-theme & {
      color: $bg-color-header;
    }
  }

  &__list-name {
    font-family: 'DM Sans';

    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: $tertiary-text-color-darkt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    margin-bottom: 8px;

    @media screen and (min-width: $tablet) {
      max-width: 100%;
    }
  }

  &__description {
    font-family: 'DM Sans';

    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    color: $primary-text-color;
    width: 193px;

    @media screen and (min-width: $tablet) {
      width: 508px;
    }

    @media screen and (min-width: $desktop) {
      width: 808px;
    }

    .dark-theme & {
      color: $bg-color-header;
    }
  }

  &__author {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;

    letter-spacing: -0.04em;

    color: $tertiary-text-color-darkt;
  }

  &__url {
    width: 16px;
    height: 16px;

    &:hover,
    &:focus {
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    }

    @media screen and (min-width: $tablet) {
      width: 32px;
      height: 30px;
    }
  }

  &__url-amazon {
    width: 32px;
    height: 11px;

    &:hover,
    &:focus {
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    }

    @media screen and (min-width: $tablet) {
      width: 48px;
      height: 15px;
    }

    filter: saturate(1%) hue-rotate(1deg) grayscale(1000%) contrast(95%);

    .dark-theme & {
      filter: invert(100%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(95%);
    }
  }

  &__url-book {
    width: 16px;
    height: 16px;

    &:hover,
    &:focus {
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    }

    @media screen and (min-width: $tablet) {
      width: 28px;
      height: 27px;
    }

    filter: saturate(1%) hue-rotate(1deg) grayscale(1000%) contrast(95%);
  }

  &__card-container {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;
    padding: 14px;
    height: 170px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  &__description-container {
    width: 193px;

    @media screen and (min-width: $tablet) {
      width: 508px;
    }
  }

  &__photo-container {
    width: 100px;
    height: 100%;
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: inset 6px 0 2px 1px #0005;

    @media screen and (min-width: $tablet) {
      margin-right: 24px;
      width: 116px;
    }
  }

  &__info-block {
    display: flex;
    justify-content: space-between;
  }

  &__urlList {
    display: flex;
    align-items: baseline;
    gap: 8px;

    @media screen and (min-width: $tablet) {
      gap: 8px;
      align-items: center;
    }
  }

  &__boxAutor {
    display: flex;

    justify-content: space-between;

    @media screen and (min-width: $tablet) {
      align-items: flex-end;
    }
  }

  &__box-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
      width: 100%;
    }
  }
}

.block-with-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  -webkit-line-clamp: 3;

  @media screen and (max-width: $tablet) {
    overflow: hidden;
  }
}

.block-with-ellipsis::after {
  content: '...';

  @media screen and (min-width: $tablet) {
    content: '';
  }
}