<div class="backdrop backdrop--hidden">
  <div class="modal">
    <div class="modal-content">
      <button class="close-btn">
        <svg width="16" height="16" class="close-icon">
          <use href="./images/sprite.svg#icon-close1"></use>
        </svg>
      </button>
      <div class="book-container"></div>
      <button class="modal__btn" type="button" data-id=""></button>
      <p class="is-hidden information-about-status">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
      <button class="modal-book-btn__signUp" type="button">Sign Up</button>
    </div>
  </div>
</div>
<!--  <div data-modal-id class="backdrop backdrop--hidden">
  <div class="modal">
    <div class="content">
      <button class="close-btn">
        <svg width="16" height="16" class="close-icon">
          <use href="./images/sprite.svg#icon-close1"></use>
        </svg>
      </button>
      <div class="book-container">
        <ul class="store-icons">
          <li>
            <a href="#"
              ><img src="./images/amazon.png" alt="" width="36" height="38"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="./images/bookShop.png" alt="" width="36" height="38"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="./images/books.png" alt="" width="36" height="38"
            /></a>
          </li>
        </ul>
      </div>

      <div class="button-text-container">
        <button class="modal__btn" type="button" data-id=""></button>
        <p class="is-hidden information-about-status">
          Сongratulations! You have added the book to the shopping list. To
          delete, press the button “Remove from the shopping list”.
        </p>
      </div>
      <button class="modal-book-btn__signUp" type="button">Sign Up</button>
    </div>
  </div>
</div>-->

<!-- <ul class="store-icons">
          <li>
            <a href="#"
              ><img src="./images/amazon.png" alt="" width="36" height="38"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="./images/bookShop.png" alt="" width="36" height="38"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="./images/books.png" alt="" width="36" height="38"
            /></a>
          </li>
        </ul> -->

<!-- <div data-modal-id class="backdrop backdrop--hidden">
  <div class="modal">
    <div class="content">
      <button class="close-btn">
        <svg width="16" height="16" class="close-icon">
          <use href="./images/sprite.svg#icon-close1"></use>
        </svg>
      </button>
      <div class="book-container">
        
      </div>

      <div class="button-text-container">
        <button class="modal__btn" type="button" data-id=""></button>
        <p class="is-hidden information-about-status">
          Сongratulations! You have added the book to the shopping list. To
          delete, press the button “Remove from the shopping list”.
        </p>
      </div>
      <button class="modal-book-btn__signUp" type="button">Sign Up</button>
    </div>
  </div>
</div>
 -->
