<div data-modal-id class="backdrop backdrop--hidden">
  <div class="modal">
    <div class="content">
      <button class="close-btn">
        <svg width="12" height="12" class="close-icon">
          <use href="./images/sprite.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="book-container"></div>
      <button class="modal__btn" type="button">add to shopping list</button>
      <button class="modal__btn hidden" type="button">
        remove from the shopping list
      </button>
    </div>
  </div>
</div>
