<header class="header">
  <div class="container">
    <div class=" header__container">
    <a class="logo" href="./index.html">
      <svg class="logo__card" width="24px" height="24px">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <svg class="logo__text" width="77px" height="14px">
        <use href="./images/sprite.svg#icon-bookshelf"></use>
      </svg>
    </a>
    
    <nav class="header__box">
      <ul class="list__nav js-list__nav">
        <li>
          <a class="header__link--home current js-link-home" href="./index.html"
            >Home</a
          >
        </li>
        <li>
          <a class="header__link--shoping js-link-shoping" href="./shoppingListPage.html"
            >Shopping list
            <svg class="js-icon" width="20px" height="20px">
              <use href="./images/sprite.svg#icon-uil_cart"></use>
            </svg>
          </a>
        </li>
      </ul>
<div class="header__content">
<input class="switch" type="checkbox" id="toggle" />

      <a class="header__singin--link" href="#" openSignUp
        >Sign up
        <svg width="20px" height="20px">
          <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </a>
<button class="log-out" type="button" logOut>
  <svg width="37px" height="37px">
        <use href="./images/sprite.svg#icon-user"></use>
      </svg>
  Log out
  <svg width="20px" height="20px"> 
          <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
</button>
 
</div>
      

      

      <button class="header__burger--open js-open-menu" type="button">
        <svg class="icon__burger--open" width="28px" height="28px">
          <use href="./images/sprite.svg#icon-align-left"></use>
        </svg>
      </button>
      <button class="header__burger--close block js-close-menu" type="button">
                <svg class="icon__burger--close" width="28px" height="28px">
              <use href="./images/sprite.svg#icon-x-close"></use>
            </svg>
            </button>
    </nav>
    </div>
  </div>
</header>

  
<div class="mobile-menu js-menu-container">
  
  <div class="mobile-menu__container"> 
    <a class="mobile-menu__singin--link" href="#" 
        >Sign up
        <svg width="20px" height="20px">
          <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </a> 

      <a class="mobile-menu__user_name" href="#" openSignUp
        >User Name</a>

    <ul class="mobile-menu--list js-mobile__nav">
      <li class="mobile-menu--home current"><a href="./index.html">Home</a></li>
      <li class="mobile-menu--shoping">
        <a href="./shoppingListPage.html">Shopping list </a>
        <svg class="mobile-menu--icon" width="20px" height="20px">
          <use href="./images/sprite.svg#icon-uil_cart"></use>
        </svg>
      </li>
    </ul>
    <button class="mobile-menu--log-out" type="button">
      Log out
  <svg width="20px" height="20px"> 
          <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
</button>
  
  </div>  
  <img class="mobile-menu--images" 
  srcset="./images/booksgr@2x.png"
  src="./images/booksgr.png" alt="books"> 
 
</div>