body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;

  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 550px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fff;
  width: 100%;
  max-width: 335px;
  border: solid 2px #111111;
  border-radius: 10px;
  overflow: auto;

  @media screen and (min-width: 768px) {
    max-width: 579px;
    // max-height: 465px;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  .dark-theme & {
    background-color: $bg-color-darkt;
    border: 2px solid $bg-color;
  }
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.store-icons {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 40px;
}

.store-icons__item:not(:last-child) {
  margin-right: 20px;
}

.store-icon {
  filter: saturate(1%) hue-rotate(1deg) grayscale(1000%) contrast(95%);
  transition: filter 250ms $cubic;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));

    .dark-theme & {
      filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.3));
    }
  }
}

.store-icon--amazon {
  filter: saturate(1%) hue-rotate(1deg) grayscale(1000%) contrast(95%);
  transition: filter 250ms $cubic;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));

    .dark-theme & {
      filter: invert(100%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(95%) drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.3));
    }
  }

  .dark-theme & {
    filter: invert(100%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(95%);
  }
}

.close-btn {
  position: absolute;
  right: 7px;
  top: 11px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.close-icon {
  fill: #111111;
  transition: fill 250ms $cubic, width 250ms $cubic, height 250ms$cubic;

  .dark-theme & {
    fill: $primary-text-color-darkt;
  }
}

.close-icon:hover {
  width: 18;
  height: 18;
  fill: $accent-text-color;
}

.modal__btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-height: 46px;
  border: solid 2px #4f2ee8;
  border-radius: 40px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-family: DM Sans;
  line-height: 1.28;
  letter-spacing: -0.01em;
  cursor: pointer;
  transition: color 250ms $cubic, background-color 250ms $cubic;

  .dark-theme & {
    color: $primary-text-color-darkt;
  }

  @media screen and (max-width: 767px) {
    padding: 14px 0;
  }

  @media screen and (min-width: 768px) {
    min-width: 499px;
    min-height: 64px;
    padding: 20px 0;
    font-size: 18px;
    line-height: 1.33;
  }
}

.modal__btn:hover {
  color: $primary-text-color-darkt;
  background-color: $accent-text-color;
}

.hidden {
  display: none;
}

.information-about-status {
  font-family: DM Sans;
  padding-right: 46px;
  padding-left: 47px;
  margin-top: 8px;
  text-align: center;
  font-size: 10px;
  letter-spacing: -0.04em;
  line-height: 1.2;
  color: rgba(17, 17, 17, 0.5);

  .dark-theme & {
    color: $bg-color-header;
  }
}

.book-container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.text-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.book-cover {
  width: 287px;
  height: 408px;
  border-radius: 8px;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    width: 192px;
    height: 281px;
    margin-right: 24px;
  }
}

.book-cover__title {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 4px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.16;
  }

  .dark-theme & {
    color: $primary-text-color-darkt;
  }
}

.book-cover__author {
  font-family: 'DM Sans';
  font-size: 12px;
  line-height: 1.16;
  font-style: italic;
  letter-spacing: -0.04em;
  color: #b4afaf;
  margin-bottom: 18px;
}

.book-cover__description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  color: #111111;
  min-height: 50px;

  .dark-theme & {
    color: $primary-text-color-darkt;
  }
}

.modal-content {
  padding: 40px 24px;

  @media screen and (min-width: 768px) {
    padding: 40px;
  }
}

.modal-book-btn__signUp {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 35px;
  background-color: #4f2ee8;
  border: solid 1px #4f2ee8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}