.mobile-menu{
    z-index: 2;
    display: none;
    position:fixed ;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 247px 128px 495px 129px;

    background-image: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%),url(/src/images/group.jpg);
    // background-image: url(/src/images/group.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.mobile-menu.is-open{
    transform: translateY(0);
    display: block;
    // transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.mobile-menu--list{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

}

.mobile-menu--home{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111111;
}

.mobile-menu--home.current {
    font-weight: 700;
    color: #111111;
    padding: 8px 16px 8px 16px;
    background: #EAC645;
    border-radius: 36px;
    text-align: center;
    width:72px;
}

.mobile-menu--shoping{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: $bg-color-header;
}

.mobile-menu--icon{

fill: $bg-color-header;
}