.mobile-menu{
    display: none;
    position:fixed ;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
}

.mobile-menu.is-open{
    display: block;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}