body.modal-team-open {
    overflow: hidden;
}

.backdrop-team {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: opacity 250ms $cubic,
        visibility 250ms $cubic;
    overflow-y: scroll;

    &--hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal-team {
    position: absolute;
    top: 20px;
    left: 50%;
    padding: 20px;
    // width: 80%;
    // max-width: 800px;
    border: 2px solid $bg-color;
    border-radius: 18px;
    height: auto;
    transform: translate(-50%) scale(1);
    background-color: $bg-color;
    transition: transform 250ms $cubic, background-color 250ms $cubic;

    .backdrop-team--hidden & {
        transform: translate(-50%, -50%) scale(0);
    }

    .dark-theme & {
        background-color: $bg-color-darkt;
    }

    @media screen and (min-width: 1440px) {
        width: 900px;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 0;
        border: none;
        background-color: transparent;
        display: flex;
        cursor: pointer;
        color: $logo-color;
        transition: color 250ms $cubic;

        .dark-theme & {
            color: $primary-text-color-darkt
        }


        &:hover {
            color: $accent-text-color;

            .dark-theme & {
                color: $primary-accent-color;
            }
        }
    }

    &__close-icon {
        fill: currentColor;
    }

    &__head-title {
        font-size: 38px;
        text-transform: capitalize;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;

        &>span {

            color: $accent-text-color;
        }

        .dark-theme & {
            color: $primary-text-color-darkt;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 0;
        list-style: none;
    }

    &__item {
        // width: calc((100% - 60px)/4)
        width: 175px;
    }

    &__img-container {
        position: relative;
        display: flex;
        align-items: start;
        margin-bottom: 10px;
    }

    &__img {
        object-fit: cover;
        border-radius: 50%;
    }

    &__link-github {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $logo-color;

        .dark-theme & {
            color: $primary-text-color-darkt;
        }


        &:hover {
            color: $accent-text-color;

            .dark-theme & {
                color: $primary-accent-color;
            }
        }
    }

    &__icon-github {
        fill: currentColor;
        transform: rotate(0deg) scale(1);
        transition: transform 250ms $cubic;

        .modal-team__link-github:hover & {
            transform: rotate(360deg)scale(1.5);
        }
    }

    &__title {
        .dark-theme & {
            color: $primary-text-color-darkt;
        }
    }

    &__position {
        color: $category-title-color;
        font-weight: 700;
        display: block;
        margin-bottom: 10px;
    }

    &__description {
        color: $category-title-color;
    }
}