.pagination-container {
  display: flex;
  justify-content: center;
}

.tui-pagination {
  display: flex !important;
  flex-direction: row !important;
  margin: 0px 0 12px !important;
  width: 335px;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    margin: 20px 0 12px !important;
    display: flex;

    width: 100%;
  }
}

.tui-page-btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  box-sizing: border-box !important;
  width: 38px !important;
  height: 38px !important;

  font-family: 'DM Sans' !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 22px !important;

  padding: 0 !important;
  border-radius: 50% !important;
  margin-right: 4px !important;
  border: 1px solid #000000 !important;
  @media screen and (min-width: $tablet) {
    margin-right: 8px !important;
  }
}

a.tui-page-btn {
  .dark-theme & {
    color: #ffffff;
    border: 1px solid #ffffff !important;
  }
}

.tui-last-child {
  margin-right: 0px !important;
}

.tui-pagination .tui-first {
  margin-right: 5px !important;
  background-color: $primary-button-pagination-color;

  .dark-theme & {
    background-color: #000000;
    border: 1px solid #000000 !important;
  }
}

.tui-pagination .tui-prev {
  margin-right: 8px !important;
  background-color: $primary-button-pagination-color;
  @media screen and (min-width: $tablet) {
    margin-right: 14px !important;
  }

  .dark-theme & {
    background-color: #000000;
    border: 1px solid #000000 !important;
  }
}

.tui-pagination .tui-next {
  margin-left: 8px !important;
  margin-right: 5px !important;
  background-color: $secondary-button-pagination-color;
  @media screen and (min-width: $tablet) {
    margin-right: 14px !important;
  }

  .dark-theme & {
    border: 1px solid #000000 !important;
  }
}

.tui-pagination .tui-last {
  margin-right: 0px !important;
  background-color: $secondary-button-pagination-color;

  .dark-theme & {
    border: 1px solid #000000 !important;
  }
}

.tui-is-selected {
  background-color: $primary-button-pagination-color !important;

  .dark-theme & {
    background-color: $button-pagination-color-darkt !important;
    color: $bg-color-header-darkt !important;
  }
}

.tui-ico-first,
.tui-ico-prev {
  filter: opacity(1) contrast(0);

  .tui-is-disabled & {
    filter: opacity(0.2);
  }
}
