.section-categories {
    max-width: 356px;
    max-height: 472px;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-categories {
    list-style: none;
}

.category__item {
    margin-top: 32px;
}

.current-category {
    text-transform: uppercase;
}

.category__link {
    text-decoration: none;
}