.books-cards__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;

    letter-spacing: -0.04em;

    color: $primary-text-color;

    @media screen and (min-width: 768px) {
        font-size: 48px;
    }
}

.top-books-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-top: 40px;
}

.top-books__item {
    
}

.top-books-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $category-title-color;

    margin-bottom: 18px;
}

.is-hidden-books {

    @media screen and (max-width: 767px) {
        &:nth-child(n+2) {
            display: none;
        }
    }

    @media screen and (max-width: 1439px) {
        &:nth-child(n+4) {
            display: none;
        }
    }
}

.top-books-categories__list {
    display: flex;
    flex-direction: column;

    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;

        margin-bottom: 20px;
    }

    @media screen and (min-width: 1440px) {
        gap: 24px;

        margin-bottom: 32px;
    }
}

.top-books__button-box {
    display: flex;
    justify-content: end;
}

.top-books__button {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: $primary-text-color;

    border: 2px solid $secondary-accent-color;   
    border-radius: 40px;

    padding: 14px 28px;

    transition: background-color 250ms $cubic,
                color 250ms $cubic;

    &:hover, :focus {
        background-color: $secondary-accent-color;
        color: $primary-text-color-darkt;
    }

    .dark-theme & {
        background-color: $bg-color-darkt;
        color: $primary-text-color-darkt;
    }
        
}
